<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    div.container
      div.progress
        div.progress__bullet
        div.progress__bg-placeholder
        ul
          li.progress__bullet-placeholder
      ul.grid
        li.items STEP 1
        li.items STEP 2
        li.items STEP 3
        li.items STEP 4
        li.items STEP 5
        li.items STEP 6
        li.items STEP 7
        li.items STEP 8
        li.items STEP 9
        li.items STEP 10
    script(src="js/bundle.min.js")
