<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    div.container
      div.progress
        div.progress__bar
          div.progress__bar-bullet
        div.progress__bg-placeholder
        ul.progress__grid
          - var index = 0;
          while index < 10
            li.progress__bullet-placeholder-item
              div.progress__bullet-placehoder
            - index++
      ul.list__grid
        li.list__items
          img(src="img/characters/homer.png", alt="")
        li.list__items
          img(src="img/characters/marge.png", alt="")
        li.list__items
          img(src="img/characters/bart.png", alt="")
        li.list__items
          img(src="img/characters/lisa.png", alt="")
        li.list__items
          img(src="img/characters/maggie.png", alt="")
        li.list__items
          img(src="img/characters/burns.png", alt="")
        li.list__items
          img(src="img/characters/moe.png", alt="")
        li.list__items
          img(src="img/characters/krusty.png", alt="")
        li.list__items
          img(src="img/characters/grampa.png", alt="")
        li.list__items
          img(src="img/characters/ned.png", alt="")
      div.btns
        button.btn.btns__back back
        button.btn.btns__next next

    script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js")
    script(src="js/bundle.min.js")
