<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    div.container
      div.progress
        div.progress__bullet
        div.progress__bg-placeholder
        ul.progress__grid
          - var index = 0;
          while index < 10
            li.progress__bullet-placeholder-item
              div.progress__bullet-placehoder
            - index++
      ul.list__grid
        - var n = 0;
        while n < 10
          li.list__items
            p= 'STEP ' + ++n
      div.btns
        button.btn.btns__back back
        button.btn.btns__next next
    script(src="js/bundle.min.js")