html
  box-sizing: border-box;

*, *:before, *:after
  box-sizing: inherit;

html, body
  width: 100%
  height: 100%
  overflow: hidden

p, li, ul
  margin: 0
  padding: 0

ul
  list-style: none

.container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto auto
  background-color: pink
  width: 50%
  height: 400px

.progress
  position: relative
  display: inline-block
  background-color: green
  width: 50%
  height: 100%
.progress__bar
  top: 1%
  height: 0
  transform: translateY(16px)
  width: 16px
  z-index: 10
  background-color: white
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  transition: all 0.3s ease-in-out
  &:after
    content: ""
    transform: translateY(-16px)
    position: absolute
    width: 32px
    height: 32px
    bottom: -32px
    border-radius: 50%
    right: -50%
    background:
      color: red
.progress__grid
  height: 100%
  width: 100%
.progress__bullet-placeholder-item
  position: relative
  height: 10%
  width: 100%
  background-color: pink
.progress__bullet-placehoder
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto auto
  height: 80%
  width: 32px
  border-radius: 50%
  background-color: orange
  transition: opacity 0.8s ease-in-out
.progress__bullet-placehoder--hide
  transition: opacity 0.1s ease-in-out
  opacity: 0
.progress__bg-placeholder
  z-index: 1
  width: 16px
  height: 90%
  background-color: orange
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto auto
.list__grid
  display: inline-block
  width: 50%
  height: 100%
  background-color: orange
.list__items
  position: relative
  height: 10%
  background-color: red
  padding-left: 5%
  p
    position: absolute
    top: 50%
    transform: translateY(-50%)

.btns
  position: relative
  width: 100%
  height: 10%
.btn
  position: absolute
  width: 48%
  height: 100%

.btn.btns__back
  left: 0
.btn.btns__next
  right: 0
